<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fluid Control</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/supplierHome.css">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Fluid Control</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">about</a></li>
        </ul>
    </nav>
    <div class="Supplier container">

    </div>
    <div class="container">
        <div class="row ">
            <div class="name col-lg-center">
                <h2>Supplier Name</h2>
            </div>
        </div>
        <div class="row justify-content-lg-center">
            <div class="cards col-lg">
                <h3>first ncr</h3>
            </div>
            <div class="cards col-lg">
                <h3>second ncr</h3>
            </div>
            <div class="cards col-lg">
                <h3>Third NCR</h3>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
                crossorigin="anonymous"></script>
</body>

</html>